@import "~bootstrap/scss/bootstrap.scss";

.square{
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    font-weight: 900;
}
.boardContainer{
    max-width: 30rem;
}
body{
    max-width: 100%;
    background-image: url("https://image.freepik.com/vector-gratis/versus-vs-lucha-batalla-fondo-pantalla_1017-23762.jpg");
    background-size: cover;
    font-family: 'Stalinist One', cursive;
    color: whitesmoke;
}
.app {
    max-width: 90%;
}
.modalTitle{
    color: black;
}
.modalContent{
    color: darkblue;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
}
.modalContent>div>span{
    align-self: center;
}
.modal-content{
    background-color: lightcyan;
}
.square{
    border: 3px solid black;
}
.daPlayers{
    color: yellow;
}